
.icone-anexo {
    padding: 0.8em;
    margin-right: 20px;
    width: clamp(40px, 7vh, 7vh);
    height: clamp(40px, 7vh, 7vh);
    color: rgb(177, 177, 177);
    font-size: clamp(15px, 1vw, 1vw);
    border-radius: 50%;
    cursor: pointer;
    float: inline-start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone-anexo:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.anexo {
    padding: 0.8em 0.9em;
    margin-bottom: 20px;
    width: min-content;
    color: rgb(255, 255, 255);
    font-size: clamp(15px, 1vw, 1vw);
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(212, 0, 255);
}


.tipo-anexo {
    
    position: absolute;
    bottom: clamp(60px, 10vh, 10vh);
    left: 10px;
    display: flex;
    height: min-content;
    flex-direction: column-reverse;
}

input[tipe="file"] {
    display: none;
}

@media(max-width: 500px) {
    .icone-anexo {
        margin-right: 0;
        background-color: rgb(83, 83, 83);
        border-radius: 20px 0px 0px 20px;
    }
}