.chat-componente {
    width: 80%;
    height: 100vh;
    min-height: 500px;
    display: flex;
    margin-left: 30%;
}

input {
    border: none;
    outline: 0;
}

.chat-tela {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cabecalho-chat {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    background-color: #2c2c2c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.abrir-lateral {
    color: #999;
    padding: 13px;
    height: max-content;
    display: flex;
    align-items: center;
    font-size: clamp(25px, 2vw, 70px);
    cursor: pointer;
}

.abrir-lateral:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.cabecalho-chat img {
    margin: 2px 20px;
    width: clamp(40px, 3vw, 70px);
    height: clamp(40px, 3vw, 70px);
    border: 1px solid #000;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.chat {
    padding-top: 20px;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    background-color: rgb(15, 15, 15);

}

.chat-crescente {
    display: flex;
    flex-direction: column;
}

.area-mensagem {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}
.mensagem {
    max-width: 90%;
    height: min-content;
    margin: 0px 15px;
    word-break: break-all;
    display: flex;
    border-radius: 10px;
    background-color: rgb(61, 61, 61);
    position: relative;
}

:root {
    --cor-escura-transparente: rgba(0, 0, 0, 0.2);
  }

.extra-info {
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.imagem-perfil-chat {
    width: 33px;
    height: 33px;
    cursor: pointer;
    border-radius: 50%;
    background-image: url(../../imagens/Loader.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.extra-info .horario {
    margin: 2px 0px;
    font-size: clamp(10px, 2vw, 12px);
    color: rgb(172, 172, 172);
    font-weight: bold;
}

.usuario-principal {
    flex-direction: row-reverse;
    float: right;
    background-color: #013d36;
}

.outro-usuario {
    flex-direction: row;
    float: left;
}

.conteudo {
    display: flex;
    flex-direction: column;
}

.conteudo .nome-remetente {
    width: 100%;
    padding: 0px 5px;
    font-size: clamp(10px, 2vw, 13px);
    line-height: 30px;
    font-weight: bold;
}

.conteudo .mensagem-texto {
    margin: 0px 10px 0px 10px;
    font-size: clamp(15px, 2vw, 17px);
    color: rgb(190, 190, 190);
}

.conteudo .mensagem-midia {
    width: clamp(100px, 15vw, 300px);
    height: clamp(150px, 20vw, 350px);
}

.area-inputs {
    width: 70%;
    height: 10vh;
    border-top: 2px solid rgb(63, 63, 63);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: #2c2c2c;
}

.input-mensagem {
    width: 70%;
    height: 60%;
    border-radius: 20px 0px 0px 20px;
    text-indent: 20px;
    font-size: clamp(15px, 2vw, 17px);
    color: rgb(255, 255, 255);
    font-weight: 200;
    background-color: rgb(83, 83, 83);
}

.botao-enviar {
    padding: 10px;
    height: 60%;
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
    font-size: clamp(15px, 2vw, 17px);
    cursor: pointer;
    color: #fff;
    background-color: rgb(28, 184, 106);
}

.input-botao-enviar:hover {
    background-color: rgb(8, 119, 32);
}






.tela-escurecida {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-usuario {
    width: 40%;
    height: 70vh;
    min-width: 250px;
    min-height: 300px;
    background-color: #000;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-usuario-area-superior {
    width: 100%;
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
}

.info-usuario-sair {
    padding: 5px;
    background: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
.info-usuario-sair:hover {
    background-color: rgb(44, 44, 44);
}

.info-nome {
    width: 100%;
    text-indent: 30px;
}

.info-opcoes {
    padding: 0px 10px;
    cursor: pointer;
}

.info-usuario .opcoes {
    padding: 10px 0px;
    border-radius: 5px;
    background: white;
    position: absolute;
    top: 40px;
    right: 20px;
}

.info-usuario .opcoes p {
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}

.info-usuario .opcoes p:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.info-usuario img {
    width: 100%;
    height: 60%;
}




@media(max-width: 1000px) {
    .chat-componente {
        margin-left: 0;
    }

    .chat-componente {
        width: 100%;
    }

    .area-inputs {
        width: 100%;
    }
}

@media(max-width: 500px) {
    .info-usuario {
        width: 100%;
        height: 100%;
    }

    .input-mensagem {
        border-radius: 0px;
        text-indent: 10px;
    }
}


@media(max-height: 550px) {

    .chat {
        height: 100%;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .cabecalho-chat {
        height: 60px;
    }

    .area-inputs {
        height: 60px;
    }
}