.chat-componente {
    width: 80%;
    height: 100vh;
    min-height: 500px;
    display: flex;
    margin-left: 30%;
}

input {
    border: none;
    outline: 0;
}

.chat-tela {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cabecalho-chat {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    background-color: #2c2c2c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.abrir-lateral {
    color: #999;
    padding: 13px;
    height: max-content;
    display: flex;
    align-items: center;
    font-size: clamp(25px, 2vw, 2vw);
    cursor: pointer;
}

.abrir-lateral:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.cabecalho-chat img {
    margin: 2px 20px;
    width: clamp(40px, 3vw, 70px);
    height: clamp(40px, 3vw, 70px);
    border: 1px solid #000;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.chat {
    padding-top: 20px;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    background-color: rgb(15, 15, 15);

}

.chat-crescente {
    display: flex;
    flex-direction: column;
}

.area-mensagem {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}
.mensagem {
    max-width: 90%;
    height: min-content;
    margin: 0px 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(61, 61, 61);
    position: relative;
}

.usuario-principal {
    float: right;
    background-color: #013d36;
}

.outro-usuario {
    float: left;
}

:root {
    --cor-escura-transparente: rgba(0, 0, 0, 0.2);
}

.mensagem-conteudo-superior {
    padding: 5px;
    margin-bottom: 2px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.imagem-perfil-chat {
    margin-right: 10px;
    width: clamp(30px, 1vw, 1vw);
    height: clamp(30px, 1vw, 1vw);
    min-width: 30px;
    min-height: 30px;
    cursor: pointer;
    border-radius: 50%;
    background-image: url(../../imagens/Loader.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nome-remetente {
    width: 100%;
    padding: 0px 5px;
    font-size: clamp(11px, 0.3vw, 0.3vw);
    line-height: 30px;
    font-weight: bold;
    color: #999;
}

.horario {
    margin: 2px 0px;
    font-size: clamp(10px, 0.2vw, 0.2vw);
    color: rgb(172, 172, 172);
    font-weight: bold;
    position: absolute;
    right: 5px;
    bottom: -2px;
}

.conteudo {
    padding: 5px;
    padding-bottom: clamp(15px, 0.2vw, 0.2vw);
    display: flex;
    flex-direction: column;
}

.mensagem-texto {
    margin: 0px 10px 0px 10px;
    font-size: clamp(15px, 0.5vw, 0.5vw);
    color: rgb(190, 190, 190);
}

.mensagem-midia {
    margin: -2px;
    width: clamp(160px, 18vw, 18vw);
    height: clamp(180px, 20vw, 20vw);
    border-radius: 10px;
    background-color: rgba(22, 20, 20, 0.7);
}

.area-inputs {
    width: 70%;
    height: 10vh;
    border-top: 2px solid rgb(63, 63, 63);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: #2c2c2c;
}

.input-mensagem {
    width: clamp(70px, 50vw, 50vw);
    height: clamp(40px, 7vh, 7vh);
    border-radius: 20px 0px 0px 20px;
    text-indent: 20px;
    font-size: clamp(15px, 1vw, 1vw);
    color: rgb(255, 255, 255);
    font-weight: 200;
    background-color: rgb(83, 83, 83);
}

.botao-enviar {
    padding: 0.8em;
    width: clamp(40px, 7vh, 7vh);
    height: clamp(40px, 7vh, 7vh);
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
    font-size: clamp(15px, 1vw, 1vw);
    cursor: pointer;
    color: #fff;
    background-color: rgb(28, 184, 106);
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-botao-enviar:hover {
    background-color: rgb(8, 119, 32);
}


@media(max-width: 1000px) {
    .chat-componente {
        margin-left: 0;
    }

    .chat-componente {
        width: 100%;
    }

    .area-inputs {
        width: 100%;
    }
}

@media(max-width: 700px) {

    .input-mensagem {
        border-radius: 0px;
        text-indent: 10px;
    }
}


@media(max-height: 550px) {

    .chat {
        height: 100%;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .cabecalho-chat {
        height: 60px;
    }

    .area-inputs {
        height: 60px;
    }
}