.chat-componente {
    width: 100vw;
    height: 100vh;
    min-height: 500px;
    display: flex;
}

input {
    border: none;
    outline: 0;
}

.chat-tela {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.area-mensagem {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}
.mensagem {
    margin: 0px 15px;
    padding: 2px 5px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(173, 255, 173);
}

.imagem-perfil-chat {
    margin: 0px 10px;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.usuario-principal {
    flex-direction: row-reverse;
    float: right;
}

.outro-usuario {
    flex-direction: row;
    float: left;
}

.conteudo {
    margin: 0 10px;
}

.conteudo .nome-remetente {
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
}

.conteudo .mensagem-texto {
    font-size: 17px;
}

.area-inputs {
    flex: 1;
    border-top: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-mensagem {
    width: 60%;
    height: 60%;
    border-radius: 20px 0px 0px 20px;
    text-indent: 20px;
    background-color: rgb(138, 197, 177);
}

.input-botao-enviar {
    padding: 10px;
    height: 60%;
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(63, 141, 115);
}

.input-botao-enviar:hover {
    background-color: rgb(18, 94, 68);
}






.tela-escurecida {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-usuario {
    width: 30%;
    height: 70vh;
    min-width: 300px;
    min-height: 450px;
    background-color: #000;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-usuario-area-superior {
    padding: 5px;
    width: 100%;
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
}

.info-usuario-area-superior input {
    background: none;
    font-size: 30px;
    color: #fff;
    text-indent: 10px;
    cursor: pointer;
}

.info-nome {
    width: 100%;
    text-indent: 30px;
}

.info-opcoes {
    padding: 0px 10px;
    cursor: pointer;
}

.info-usuario .opcoes {
    padding: 10px 0px;
    border-radius: 5px;
    background: white;
    position: absolute;
    top: 40px;
    right: 20px;
}

.info-usuario .opcoes p {
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}

.info-usuario .opcoes p:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.info-usuario img {
    width: 100%;
    height: 60%;
}
